
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="~/images/ico.ico">
    <title>Asae Consultores S.A de C.V</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Template CSS Files
     ================================================== -->
    <!-- Twitter Bootstrs CSS -->
    <link href="~/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Ionicons Fonts Css -->
    <link href="~/plugins/ionicons/ionicons.min.css" rel="stylesheet" />
    <!-- animate css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Hero area slider css-->
    @*<link href="~/plugins/slider/slider.css" rel="stylesheet" />*@
    <!-- owl craousel css -->
    @*<link href="~/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
        <link href="~/plugins/owl-carousel/owl.theme.css" rel="stylesheet" />*@
    <!-- Fancybox -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet" />
    <link href="~/plugins/facncybox/jquery.fancybox.css" rel="stylesheet" />
    <!-- template main css file -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/LandingPage/BanTotal.css" rel="stylesheet" />
    <script src="~/Scripts/whatsapp.js"></script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NT6V24P');</script>
    <!-- End Google Tag Manager -->

    <style>
        input[type="text"], [type="password"], [type="email"], [type="tel"], textarea, textarea.form-control {
            height: 40px;
            margin: 0;
            padding: 0 10px;
            vertical-align: middle;
            background: #fff;
            border: 2px solid #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 300;
            line-height: 50px;
            color: #888;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }

        .shared-panel {
            overflow: auto;
        }

            .shared-panel span {
                margin: 10px 0;
                font-size: 16px;
                font-weight: 600;
            }

        .shared {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 5px 0;
            padding: 0;
            background: url('../../Assets/img/shared.png') no-repeat;
            float: left;
            margin-right: 5px;
            cursor: pointer;
            border-radius: 50%;
        }

            .shared:hover {
                opacity: 0.7;
            }

            .shared.gp {
                background-position: 0px 0px;
                background-color: #E62B34;
            }

            .shared.tt {
                background-position: 0px -30px;
                background-color: #43BDF0;
            }

            .shared.ce {
                background-position: 0px -60px;
                background-color: #8A898D;
            }

            .shared.wa {
                background-position: 0px -90px;
                background-color: #0dc143;
            }

            .shared.fb {
                background-position: 0px -120px;
                background-color: #6081C4;
            }

        .st2 {
            border-radius: 0;
        }

        .st3 {
            border-radius: 5px;
        }
    </style>

</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NT6V24P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--
       ==================================================
       Header Section Start
       ================================================== -->
    <header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand center-block">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/Tickets/LogoAsae.png" width="100%" />
                    </a>
                </div>
            </div>
        </div>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="title" style="color: #223c60; font-size: 30px; font-weight: 700; text-transform: initial; margin-bottom: 0px;">
                        Solicitar Más Información
                    </h2>
                    <br />
                    <p style="color: #9E9E9E;">Envía tu solicitud y en breve un ejecutivo te contactara para atender tu solicitud.</p>

                </div>
                <div class="modal-body" style=" padding: 25px 25px 30px 25px; background: #eaf1f9; color: #5a5a5a;">
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                            <img src="~/images/Bantotal/be3324_0ad0b1c5768e46938ba5f65aa0975ef5_mv2.png" width="100%" />
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="inputAddress">Nombre</label>
                                    <input type="text" class="form-control" id="R_Nombre" placeholder="Nombre completo">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="R_EPer" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Teléfono </label>
                                    <input type="tel" class="form-control" id="R_TMov" placeholder="Teléfono">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Teléfono Local</label>
                                    <input type="tel" class="form-control" id="R_TLoc" placeholder="Teléfono Local">
                                </div>
                            </div>
                            <button type="button" id="BtnRegistrarDemo" class="btnM btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:12px;"><span style="text-decoration: underline;">Margaritas 426, Álvaro Obregón, Ciudad de México</span> | <span style="text-decoration: underline;">asae_contactanos@asae.com.mx</span> | <span style="text-decoration: underline;">(55) 53 22 05 00</span></p>
                        </div>

                    </div>
                    <button type="button" class="btnMC btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="title" style="color: #223c60; font-size: 30px; font-weight: 700; text-transform: initial; margin-bottom: 0px;">
                        Descargar página web
                    </h2>
                    <br />
                    <p style="color: #9E9E9E;">Por favor coloca tus datos para descargar los contenidos de la página.</p>
                </div>
                <div class="modal-body" style="padding: 25px 25px 30px 25px; background: #eaf1f9; color: #5a5a5a;">
                    <div class="row">
                        <div class="col-md-6">
                            <br />
                            <img src="~/images/Bantotal/be3324_0ad0b1c5768e46938ba5f65aa0975ef5_mv2.png" width="100%" />
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="inputAddress">Nombre</label>
                                    <input type="text" class="form-control" id="DW_Nombre" placeholder="Nombre completo">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="DW_EPer" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Teléfono </label>
                                    <input type="tel" class="form-control" id="DW_TMov" placeholder="Teléfono">
                                </div>
                            </div>
                            <button type="button" id="BtnRegistrarDW" class="btnM btn-primary"> Descargar </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:12px;"><span style="text-decoration: underline;">Margaritas 426, Álvaro Obregón, Ciudad de México</span> | <span style="text-decoration: underline;">asae_contactanos@asae.com.mx</span> | <span style="text-decoration: underline;">(55) 53 22 05 00</span></p>
                        </div>
                    </div>
                    <button type="button" class="btnMC btn-secondary" id="BtnCerrarDW" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <section id="hero-area">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-xs-6 text-right" style="border-right-style: solid; border-color:#000000;">
                    <div class="block wow fadeInUp" data-wow-delay=".1s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".1s">
                                <img src="~/images/jobctrl/asaelogo.png" class="asaeim" />
                            </h1>
                        </section> <!-- cd-intro -->
                    </div>
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="block wow fadeInUp" data-wow-delay=".1s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide " data-wow-delay=".1s" style="line-height: 70px;">
                                <img src="~/images/Bantotal/bantotal-bdevelopers-1_edited.png" class="jobCtrl" />
                            </h1>
                        </section> <!-- cd-intro -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <div class="block wow fadeInUp" data-wow-delay=".1s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".1s">
                                <span>
                                    La plataforma bancaria completamente centrada en el cliente
                                </span>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".1s" id="h2Titletap">
                            Bantotal es la solución líder en latinoamérica que resuelve la operativa de mision crítica de las Instituciones Financieras en forma simple, completa y precisa
                        </h2>



                        <div class="text-center">
                            <a class="btn-lines  btn text-center" data-toggle="modal" data-target="#exampleModal" data-wow-delay=".1s">Solicitar más información   </a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6" id="DivImg1Bloque1">
                    <br />
                    <img src="~/images/Bantotal/be3324_0343089b9b8c401e9f0e6d58e2e39177_mv2.png" id="Img1Bloque1" class="wow fadeInUp animated cd-headline slide " data-wow-delay=".1s" />
                    <br />
                </div>
            </div>
            <br /><br /><br />
            <div class="row block wow fadeInUp animated">
                <div class="col-md-12 text-center">
                    <div class="block wow fadeInUp animated" data-wow-delay=".1s">
                        <section class="cd-intro">

                            <h3 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".1s">
                                <span>
                                    ¿Por qué Bantotal?
                                </span>
                            </h3>
                        </section>
                    </div>
                </div>
                <div class="col-md-4 text-center ">
                    <div class="row">
                        <div class="col-md-4 col-xs-2 text-center">
                        </div>
                        <div class="col-md-8 col-xs-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <section class="cd-intro">
                                        <h1 class="wow fadeInUp animated cd-headline slide " data-wow-delay=".1s">
                                            <img src="~/images/Bantotal/img1.png" width="50%" />
                                        </h1>
                                    </section> <!-- cd-intro -->
                                    <p> Utilizado por más de 60 instituciones financieras en más de 14 países </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-2 col-xs-2 text-center">
                        </div>
                        <div class="col-md-8 col-xs-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <section class="cd-intro">
                                        <h1 class="wow fadeInUp animated cd-headline slide " data-wow-delay=".1s">
                                            <img src="~/images/Bantotal/img3.fw.png" width="50%" />
                                        </h1>
                                    </section> <!-- cd-intro -->
                                    <p> Completamente adaptable a distintos tamaños de organización </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-xs-2 columna">
                        </div>
                        <div class="col-md-8 col-xs-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <section class="cd-intro">
                                        <h1 class="wow fadeInUp animated cd-headline slide " data-wow-delay=".1s">
                                            <img src="~/images/Bantotal/img4.png" width="50%" />
                                        </h1>
                                    </section> <!-- cd-intro -->
                                    <p> Escala a la par de su insttución y el mercado en el que se encuentra</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />
            <div class="row block wow fadeInUp animated">
                <div class="col-md-12 text-center">
                    <section class="cd-intro">

                        <h3 class="wow fadeInUp animated cd-headline slide titulo31" data-wow-delay=".1s">
                            <span>
                                En ASAE somos expertos en el<br /> sector financiero
                            </span>
                        </h3>
                        <h3 class="wow fadeInUp animated cd-headline slide titulo3 text-center" data-wow-delay=".1s" style="color:#fff">
                            <span>
                                En ASAE somos expertos en el  sector financiero
                            </span>
                        </h3>
                    </section>
                </div>
                <div class="col-md-6 text-center">
                    <img src="~/images/Bantotal/be3324_0ad0b1c5768e46938ba5f65aa0975ef5_mv2.png" width="80%" id="Img2Bloque1" />
                </div>
                <div class="col-md-5">
                    <div class="block wow fadeInUp" data-wow-delay=".1s">
                        <br />
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".1s" style="color: #fff; font-weight: 400;" id="h2Titletap">
                            ASAE se ha consolidado como una organización integradora de tecnología, abarcando productos y servicios para mercados verticales y soluciones horizontales, con presencia a nivel nacional.
                            <br /><br />
                            Juntando más de 35 años de experiencia somos líderes  integradores de tecnología del sector financiero y bancario.
                        </h2>

                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="~/images/Bantotal/be3324_0ad0b1c5768e46938ba5f65aa0975ef5_mv2.png" width="100%" id="Img3Bloque1" />
                </div>
            </div>
        </div>
    </section>

    <section id="hero-area2">
        <div class="container">
            <br />
            <div class="row">
                <div class="col-md-12 text-center wow block fadeInUp animated">
                    <section class="cd-intro">
                        <h3 class="wow block fadeInUp animated" data-wow-delay=".1s">
                            <span>
                                Catálogo de Productos Bantotal
                            </span>
                        </h3>
                    </section>
                </div>
            </div>
            <div class="row block wow fadeInUp animated columna2">
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-4 text-center">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/imgt2.png" width="37%" />
                                    <p>Bantotal Core <br /><br /> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-2 text-center">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img2.PNG" width="37%" />
                                    <p> BPeople - Banca <br /> Digital </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img9.png" width="37%" />
                                    <p> Bantotal Comercio <br />Exterior </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row block wow fadeInUp animated columna2">
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-4 text-center">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img5.png" width="37%" />
                                    <p> BPeople - Banca <br />Digital </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-2 text-center">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img7.png" width="37%" />
                                    <p>
                                        Bantotal Procesos de <br />Negocio
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img11.png" width="37%" />
                                    <p> Bantotal Tesorería <br /><br /> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row block wow fadeInUp animated columna2">
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-4 text-center">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img6.png" width="37%" />
                                    <p> Bantotal Fondos de <br /> Inversión </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-2 text-center">
                        </div>
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img8.png" width="37%" />
                                    <p> Bantotal Cash <br /> Management </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img10.png" width="37%" />
                                    <p> BData - Ciencia de <br /> Datos </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row block wow fadeInUp animated columna">
                <div class="col-md-4 col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/imgt2.png" width="50%" />
                                    <p>Bantotal Core <br /><br /> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img2.PNG" width="50%" />
                                    <p> BPeople - Banca <br /> Digital </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img9.png" width="37%" />
                                    <p> Bantotal Comercio <br />Exterior </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img5.png" width="37%" />
                                    <p> BPeople - Banca <br />Digital </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img7.png" width="37%" />
                                    <p>
                                        Bantotal Procesos de <br />Negocio
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img11.png" width="37%" />
                                    <p> Bantotal Tesorería <br /><br /> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img6.png" width="37%" />
                                    <p> Bantotal Fondos de <br /> Inversión </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img8.png" width="37%" />
                                    <p> Bantotal Cash <br /> Management </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3 text-center">
                </div>
                <div class="col-xs-6 text-center">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/images/Bantotal/img10.png" width="37%" />
                                    <p> BData - Ciencia de <br /> Datos </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row block wow fadeInUp animated">
                <div class="col-md-12">
                    <div class="block wow fadeInUp animated" data-wow-delay=".1s">
                        <div class="text-center">
                            <a class="btn-lines  btn text-center" data-toggle="modal" data-target="#exampleModal" data-wow-delay=".1s">Solicitar más información   </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="hero-area3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="~/images/Bantotal/be3324_fc6ba67277e949e09a32402ba4b69576_mv2.png" id="Img1Bloque3" />
                </div>
                <div class="col-md-6 text-right columna2">
                    <img src="~/images/Bantotal/Illust.png" width="70%" />
                </div>
                <div class="col-md-12 text-center columna">
                    <img src="~/images/Bantotal/Illust.png" id="Img2Bloque3" />
                </div>
                <div class="col-md-5 text-left">
                    <div class="block wow fadeInUp" data-wow-delay=".1s">
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".1s" id="h2Titletap">
                            Accede a los conocimientos brindados por expertos en Bantotal, en cualquier momento y desde cualquier lugar:
                        </h2>
                        <p>
                            + 50 cursos
                            <br />+ 200 tutoriales
                            <br /> +100 casos y manuales
                        </p>
                    </div>
                    <div class="block wow fadeInUp" data-wow-delay=".1s">
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".1s" id="h2Titletap">
                            Contenidos y propuestas para:
                        </h2>
                        <p>
                            Usuarios Bantotal <br />
                            ​Instructores Bantotal <br />
                            Analistas Implementadores <br />
                            Analistas de Soporte <br />
                            Analistas Expertos <br />
                            Talleres a medida
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-delay=".1s">

                        <div class="text-center">
                            <a class="btn-lines  btn text-center" data-toggle="modal" data-target="#exampleModal" data-wow-delay=".1s">Solicitar más información   </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="call-to-action" style="padding: 0px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInDown" data-wow-delay=".2s" data-wow-duration="300ms">
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <style>
        .accordion {
            font-family: roboto,roboto,sans-serif;
            font-size: 25px;
            line-height: 35px;
            /*color: rgb(255, 255, 255);*/
            font-weight: 700;
            margin-top: 5px;
            margin-bottom: 1px;
            /**/
            background-color: #223c60;
            color: #313437;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .accordion:hover, .accordion:focus {
                color: #223c60;
                background-color: #223c60;
                box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
                transition: all 0.5s ease 0s;
            }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
            margin-top: 20px;
            border: solid 1px #223c60;
            transition: all 0.5s ease 0s;
        }
    </style>

    <section id="service-page5" class="pages service-page" style="padding: 20px 0 40px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" style=" color: rgb(94 94 94); font-size: 40px; line-height: 50px;  color: rgb(101 98 100); font-weight: 700; margin-bottom: 15px; text-transform: initial; text-align:center; ">
                            ¿Por qué ASAE?
                            <br />
                        </h2>
                        <br />
                    </div>
                </div>
            </div>
            <div id="accordion">
                <button class="accordion" style=" background-image: linear-gradient( rgb(255 255 255 / 67%), rgb(255 255 255 / 67%) ), url('../../images/Tickets/Consulting-Business-1024x683.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">Implementación</button>
                <div class="panel">
                    <p style="text-align: left; font-size: 18px;">
                        Contamos con la experiencia de proyectos realizados a lo largo de los años a nivel nacional en soluciones de tecnología. Además, proporcionamos servicios profesionales de alta calidad a los problemas complejos que enfrenta tu negocio.
                    </p>
                </div>

                <button class="accordion" style=" background-image: linear-gradient( rgb(255 255 255 / 67%), rgb(255 255 255 / 67%) ), url('../../images/Tickets/brainstorming-business-colleagues-1374363_0.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">Asistencia Técnica</button>
                <div class="panel">
                    <p style="text-align: left; font-size: 18px;">
                        Disponemos de un equipo completo de diseñadores, ingenieros y técnicos especializados de primer nivel listos para desarrollar soluciones personalizadas según sus necesidades y requerimientos.
                    </p>
                </div>

                <button class="accordion" style=" background-image: linear-gradient( rgb(255 255 255 / 67%), rgb(255 255 255 / 67%) ), url('../../images/Tickets/ditl_collab.png'); background-size: cover; background-position: center; background-repeat: no-repeat;">Capacitación a Usuarios</button>
                <div class="panel">
                    <p style="text-align: left; font-size: 18px;">
                        En cada implementación nos esforzamos en conocer y entender las necesidades de nuestros clientes para obtener resultados satisfactorios en corto tiempo.
                    </p>
                </div>

                <button class="accordion" style=" background-image: linear-gradient( rgb(255 255 255 / 67%), rgb(255 255 255 / 67%) ), url('../../images/Tickets/plan-de-capacitación.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">Consultoría de Negocios</button>
                <div class="panel">
                    <p style="text-align: left; font-size: 18px;">
                        Los acompañamos durante todo el proceso de implementación de la solución tecnológica para que la transferencia del conocimiento sea de forma natural.
                    </p>
                </div>

            </div>
        </div>
    </section>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

    <section id="service-page4" class="pages service-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" style=" color: rgb(94 94 94); font-size: 40px; line-height: 50px;  color: rgb(101 98 100); font-weight: 700; margin-bottom: 15px; text-transform: initial; text-align:center; ">
                            ¿Por qué ASAE?
                            <br />
                        </h2>
                        <br />
                    </div>
                </div>
                <div class="col col-sm-4 ">
                    <ul class="nav nav-tabs nav-stacked text-center wow fadeInUp animated" role="tablist" data-wow-delay=".1s" data-wow-duration="300ms">
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/Consulting-Business-1024x683.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Implementación</a></li>
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/brainstorming-business-colleagues-1374363_0.jpg'); background-size: cover;background-position: center;background-repeat: no-repeat;"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Asistencia Técnica</a></li>
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/ditl_collab.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Capacitación a Usuarios</a></li>
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/plan-de-capacitación.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"><a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab">Consultoría de Negocios</a></li>
                    </ul>
                </div>
                <div class="col col-sm-8">
                    <div class="block">
                        <div class="row tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="home">
                                <br />
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="subtitle-des wow fadeInUp animated " data-wow-delay=".1s" data-wow-duration="300ms" style="text-align: left; font-size: 18px; margin-bottom: 1px; visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInUp;">
                                            Contamos con la experiencia de proyectos realizados a lo largo de los años a nivel nacional en soluciones de tecnología. Además, proporcionamos servicios profesionales de alta calidad a los problemas complejos que enfrenta tu negocio.
                                        </p>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11 text-center">
                                        <img src="../../images/Tickets/Consulting-Business-1024x683.jpg" width="70%" class="wow fadeInUp animated" data-wow-delay=".1s" data-wow-duration="300ms" />
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <br />
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="subtitle-des" style="text-align: left; font-size: 18px; margin-bottom: 1px;">
                                            Disponemos de un equipo completo de diseñadores, ingenieros y técnicos especializados de primer nivel listos para desarrollar soluciones personalizadas según sus necesidades y requerimientos.
                                        </p>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11 text-center" style="opacity: 0.8;">
                                        <img src="~/images/Tickets/brainstorming-business-colleagues-1374363_0.jpg" width="70%" />
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                <br />
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="subtitle-des " style="text-align: left; font-size: 18px; margin-bottom: 1px;">
                                            En cada implementación nos esforzamos en conocer y entender las necesidades de nuestros clientes para obtener resultados satisfactorios en corto tiempo.
                                        </p>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11 text-center" style="opacity: 0.8;">
                                        <img src="~/images/Tickets/ditl_collab.png" width="70%" />
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="usuarios">
                                <br />
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11">
                                        <p class="subtitle-des" style="text-align: left; font-size: 18px; margin-bottom: 1px;">
                                            Los acompañamos durante todo el proceso de implementación de la solución tecnológica para que la transferencia del conocimiento sea de forma natural.
                                        </p>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-11 text-center" style="opacity: 0.8;">
                                        <img src="~/images/Tickets/plan-de-capacitación.jpg" width="70%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <style>

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-stacked > li + li {
            margin-top: 0px;
        }

        .nav-tabs > li > a {
            padding: 50px 50px 50px 50px !important;
            color: #666365;
            background-color: #fdfdfdc9;
            border: 0px;
            border-radius: 0px;
            margin: 0;
        }

            .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
                background-color: #7a625661;
                color: #FFFFFF;
                z-index: 99;
                transition: all 0.5s ease 0s;
            }

        .nav-tabs > li.active > a {
            color: #FFFFFF;
            background-color: #b33d3c;
            box-shadow: 0 0px 10px rgba(0, 0, 0, .6);
            z-index: 100;
        }

            .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                color: #FFFFFF;
                background-color: #af5b5a;
                box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
                transition: all 0.5s ease 0s;
            }
    </style>







    <style>

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-stacked > li + li {
            margin-top: 0px;
        }

        .nav-tabs > li > a {
            padding: 50px 50px 50px 50px !important;
            color: #666365;
            background-color: #dddfe5c9;
            border: 0px;
            border-radius: 0px;
            margin: 0;
        }

            .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
                background-color: #7ba7db;
                color: #FFFFFF;
                z-index: 99;
                transition: all 0.5s ease 0s;
            }

        .nav-tabs > li.active > a {
            color: #FFFFFF;
            background-color: #2a6bb9;
            box-shadow: 0 0px 10px rgba(0, 0, 0, .6);
            z-index: 100;
        }

            .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                color: #FFFFFF;
                background-color: #2a6bb9;
                box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
                transition: all 0.5s ease 0s;
            }
        /*
        /*.btn {
          display: inline-block;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          -ms-touch-action: manipulation;
              touch-action: manipulation;
          cursor: pointer;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 1px;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          transition: all 0.5s ease 0s;

        }
        .btn-primary {
            background-color: #2962FF;
        }
        .btn-primary:hover, .btn-primary:focus {
            background-color: #0D47A1;
        }*/
    </style>

    <section id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h2 class="subtitle wow fadeInDown" data-wow-duration="300ms" data-wow-delay=".3s">Envíanos un mensaje.</h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="300ms" data-wow-delay=".5s">
                            Estamos a su disposición, para más información o para programar una reunión, le pedimos que rellene el siguiente formulario y nuestros consultores se pondrán en contacto con usted.
                        </p>
                        <div class="contact-form">
                            <form id="contact-form" method="#" action="#" role="form">

                                <div class="form-group wow fadeInDown" data-wow-duration="300ms" data-wow-delay=".6s">
                                    <input type="text" placeholder="Tu Nombre" class="form-control" name="name" id="name">
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="300ms" data-wow-delay=".8s">
                                    <input type="email" placeholder="Tu Email" class="form-control" name="email" id="email">
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="300ms" data-wow-delay="1s">
                                    <input type="text" placeholder="Teléfono" class="form-control" name="phone" id="phone">
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="300ms" data-wow-delay="1.2s">
                                    <textarea rows="6" placeholder="Mensaje" class="form-control" name="message" id="message">Me gustaría recibir más información acerca de Bantotal</textarea>
                                </div>

                                <div class="g-recaptcha" data-sitekey="6LdXFXcUAAAAABTN8TrSf30UgdaxPjFL1FB4vcaS"></div>
                                <br />
                                <div id='alertBoxes'></div><span class='timer' id='timer'></span>
                                <br />
                                <div id="success" class="success">
                                    Gracias, tú mensaje ha sido envido.
                                </div>

                                <div id="error" class="error">
                                    Lo sentimos. Intenta más tarde.
                                </div>

                                <div id="submit" class="wow fadeInDown" data-wow-duration="300ms" data-wow-delay="1.4s" >
                                    <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Enviar mensaje" style="border-radius: 5px; width: 100%;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-area">
                        <h2 class="subtitle  wow fadeInDown" data-wow-duration="300ms" data-wow-delay=".3s">Ubicación </h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="300ms" data-wow-delay=".5s">
                            Visitas nuestras instalaciones!.

                        </p>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.429625988862!2d-99.18184978509457!3d19.350541386931017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fff0308f9987%3A0xfb047a70088b8f85!2sAsae+Consultores%2C+S.A.+de+C.V.!5e0!3m2!1ses-419!2smx!4v1530717966296" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>

                        <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Compartir pagina  </h2>
                        <div class="widget-content">
                            <div class="shared-panel">
                                <a target="_blank" class="shared fb st3" title="Facebook"></a>
                                <a target="_blank" class="shared tt st3" title="Twitter"></a>
                                @*<a target="_blank" class="shared gp st3" title="Google+"></a>*@
                                <a class="shared wa st3" data-action='share/whatsapp/share' title="WhatsApp"></a>
                                <a target="_blank" class="shared ce st3" title="Email"></a>
                            </div>
                        </div>

                        <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Descargar pagina </h2>
                        <a class="text-left wow fadeInDown" onclick="ValidarDescarga()" style="cursor: pointer">
                            <img src="~/images/boton-descargar-pdf.gif" width="40%" />
                        </a>
                        <a href="../PDF/LandingPage/Formato-BanTotal.pdf" id="BtnIniciarDW" class="text-left wow fadeInDown" download="ASAE-BANTOTAL" style="display:none;">
                            <img src="~/images/boton-descargar-pdf.gif" width="40%" />
                        </a>

                    </div>
                </div>
            </div>
            <div class="row address-details">
                <div class="col-md-4">
                    <div class="address wow fadeInLeft" data-wow-duration="300ms" data-wow-delay=".3s">
                        <i class="ion-ios-location-outline"></i>
                        <h5>Margaritas 426, Álvaro Obregón, Ciudad de México</h5>
                    </div>
                </div>
                <!--
                    <div class="col-md-3">
                        <div class="address wow fadeInLeft" data-wow-duration="300ms" data-wow-delay=".5s">
                            <i class="ion-ios-location-outline"></i>
                            <h5>125 , Kings Street,Melbourne <br>United Kingdom,600562</h5>
                        </div>
                    </div>

                -->
                <div class="col-md-4">
                    <div class="email wow fadeInLeft" data-wow-duration="300ms" data-wow-delay=".7s">
                        <a href="mailto:asae_contactanos@asae.com.mx">
                            <i class="ion-ios-email-outline"></i>
                            <p><br /> asae_contactanos@asae.com.mx</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="phone wow fadeInLeft" data-wow-duration="300ms" data-wow-delay=".9s">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>(55) 53 22 05 00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
            ==================================================
            Footer Section Start
            ================================================== -->
    <footer id="footer">
        <div class="container">

            <div class="col-md-12">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <img src="~/images/AsaeLogo.png" width="100%" />
                    </li>
                    <br />
                    <br />
                    <li>
                        <a href="https://www.facebook.com/AsaeConsultoresMX/" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/asaeconsultores" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://mx.linkedin.com/company/asae-consultores-s.a.-de-c.v." class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    @*<li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>*@
                </ul>
                <br />
            </div>
            <div class="col-md-12">
                <p class="copyright">
                    Copyright: <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> . All Rights Reserved
                    <a href="#" target="_blank">Asae Consultores S.A de C.V</a>. <br>
                    Aviso de privacidad
                    <a href="@Url.Action("AvisoPrivacidad", "Home")" target="_blank">
                        Asae Consultores S.A de C.V
                    </a>
                </p>
            </div>
        </div>
    </footer> <!-- /#footer -->

    <a href="https://api.whatsapp.com/send?phone=+5215546444239&text=Buen%20día,%20Solicito%20conocer%20más%20información%20de%20BanTotal" class="btn-wsp" target="_blank">
        <i class="fa fa-whatsapp icono"></i>
    </a>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="682320818526294"
         theme_color="#0A7CFF">
    </div>

    <!-- Template Javascript Files
    ================================================== -->
    <!-- jquery -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/plugins/jQurey/jquery.min.js"></script>
    <!-- Form Validation -->
    @*<script src="~/plugins/form-validation/jquery.form.js"></script>*@
    <script src="~/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- owl carouserl js -->
    @*<script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>*@
    <!-- bootstrap js -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="~/plugins/wow-js/wow.min.js"></script>
    <!-- slider js -->
    <script src="~/plugins/slider/slider.js"></script>
    <!-- Fancybox -->
    @*<script src="~/plugins/facncybox/jquery.fancybox.js"></script>*@
    <!-- template main js -->
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>

    <script src="~/Scripts/main.js"></script>


    @*<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script>

        $(document).on('click', ".shared", function () {
            var url = window.location.href;
            var title = document.title;

            url = encodeURIComponent(url);
            title = encodeURIComponent(title);

            //Boton Facebook
            if ($(this).hasClass('fb')) {
                url = 'https://www.facebook.com/sharer/sharer.php?u=' + url + '&t=' + title;

                //Boton Twitter
            } else if ($(this).hasClass('tt')) {
                user = 'asaeconsultores';//Nuestro usuario de twitter para mostrar como user
                url = 'https://twitter.com/intent/tweet?text=' + title + '&url=' + url + '&via=' + user;

                //Boyton Google Plus
            } else if ($(this).hasClass('gp')) {
                url = 'https://plus.google.com/share?url=' + url;

                //Boton WhtsApp
            } else if ($(this).hasClass('wa')) {
                url = 'https://api.whatsapp.com/send?text="' + document.title + '" - "' + window.location.href + '"';

                //Boton correo electronico
            } else if ($(this).hasClass('ce')) {
                url = 'mailto:?subject=' + title + '&body=' + url;

                //Ningun boton valido
            } else return;

            //Abrimos la url

            window.open(url.replace('+', '%2b'), '_blank');
        });


        $(document).ready(function () {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                pagination: true,
                navigation: true,
                navigationText: ["", ""],
                slideSpeed: 1000,
                autoPlay: true
            });
        });
    </script>

    <script>
        function ValidarDescarga()
        {
            var pathname = window.location.pathname;
            var arreglo = [];
            var obj = {};
            obj['Ingreso'] = pathname;

            arreglo.push(obj);

            var jsonObject = {
                "Usuario": arreglo
            };
            $.ajax({
                url: "@Url.Action("ComprobarSolicitudDW", "Registros")",
                async: false,
                type: "POST",
                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                error: function (response) {
                    $("#exampleModalCenter").modal("show");
                },
                success: function (response) {
                    if (response.Respuesta == 1) {
                        var lnk = document.getElementById('BtnIniciarDW');
                        if (lnk) {
                            lnk.click();
                        }
                    } else {
                        $("#exampleModalCenter").modal("show");
                    }
                }
            });
        }

        $(document).ready(function () {
            var timeSlide = 0;
            $('#timer').hide(0);
            $('#timer').css('display', 'none');
            $('#BtnRegistrarDW').click(function () {
                $('.box-success,.box-error').slideUp(timeSlide);
                setTimeout(function () {

                    if (validaFromDW()) {
                        if (ValidFormEmailDW()) {
                            var pathname = window.location.pathname;
                            var arreglo = [];
                            var obj = {};
                            obj['Nombre'] = $('#DW_Nombre').val();
                            obj['CorreoPersonal'] = $('#DW_EPer').val();
                            obj['TelefonoMovil'] = $('#DW_TMov').val();
                            obj['Ingreso'] = pathname;

                            arreglo.push(obj);

                            var jsonObject = {
                                "Usuario": arreglo
                            };

                            $.ajax({
                                url: "@Url.Action("SolicitudDW", "Registros")",
                                async: false,
                                type: "POST",
                                data: JSON.stringify(jsonObject),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                error: function (response) {
                                    console.log(response);
                                    swal({
                                        title: "Algo ocurrió !",
                                        text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                        icon: "warning",
                                        button: "Aceptar",
                                    });
                                },
                                success: function (response) {
                                    if (response.Respuesta == 1) {
                                        var lnk = document.getElementById('BtnIniciarDW');
                                        if (lnk) {
                                            lnk.click();
                                        }

                                        $("#BtnCerrarDW").trigger("click");

                                    } else {
                                        swal({
                                            title: "¡Ha ocurrido algo! ",
                                            text: response.RespuestaText,
                                            icon: "warning"
                                        });
                                    }
                                }
                            });
                        }
                    } else {
                        $.notify({
	                    icon: 'fa fa-paw',
	                    message: "Formulario incompleto."
                        },{
                            type: 'danger',
                            allow_dismiss: false,
                            animate: {
		                        enter: 'animated rollIn',
		                        exit: 'animated rollOut'
	                        }
                        });
                    }
                }, timeSlide);
                return false;
            });
        });

        function validaFromDW() {
            var respuesta = false;

            $('#DW_Nombre').css("border", "2px solid #FF5722");
            $('#DW_EPer').css("border", "2px solid #FF5722");
            $('#DW_TMov').css("border", "2px solid #FF5722");

            if ($('#DW_Nombre').val().length > 0) {
                $('#DW_Nombre').css("border", "2px solid #fff");
            }

            if ($('#DW_EPer').val().length > 0) {
                $('#DW_EPer').css("border", "2px solid #fff");
            }

            if ($('#DW_TMov').val().length > 0) {
                $('#DW_TMov').css("border", "2px solid #fff");
            }

            if ($('#DW_Nombre').val().length > 0) {
                if ($('#DW_EPer').val().length > 0) {
                    if ($('#DW_TMov').val().length > 0) {
                        respuesta = true;
                    }
                }
            }
            return respuesta;
        }

        function ValidFormEmailDW() {
            var respuesta = false;

            if (CorreoFromDW() == "ok") {
                $('#DW_EPer').css("border", "2px solid #fff");
                respuesta = true;
            } else {

                $('#DW_EPer').css("border", "2px solid #FF5722");

                $.notify({
                    icon: 'fa fa-paw',
                    message: "Correo electrónico invalido."
                }, {
                    type: 'danger',
                    allow_dismiss: false,
                    animate: {
                        enter: 'animated rollIn',
                        exit: 'animated rollOut'
                    }
                });
            }
            return respuesta;
        }

    </script>


    <script>
        $(document).ready(function () {
            $('#contact-form').validate({
                rules: {
                    name: {
                        required: true, minlength: 4
                    }
                    , email: {
                        required: true, email: true
                    }
                    , subject: {
                        required: false,
                    }
                    , message: {
                        required: true,
                    }
                    ,
                }
                , messages: {
                    user_name: {
                        required: "Come on, you have a name don't you?",
                        minlength: "Your name must consist of at least 2 characters"
                    }
                    , email: {
                        required: "Por favor ingrese su dirección de correo electrónico.",
                    }
                    , message: {
                        required: "Coloca tu mensaje",
                        minlength: "Your name must consist of at least 2 characters"
                    }
                    ,
                }
                , submitHandler: function (form) {
                    EnvioForm();
                }
            });
        });

        function EnvioForm()
        {
            var timeSlide = 500;
            setTimeout(function () {

                if (valida()) {
                    var arreglo = [];
                    var obj = {};

                    obj['nombre'] = $('#name').val();
                    obj['email'] = $('#email').val();
                    obj['mensaje'] = $('#message').val();
                    obj['telefono'] = $('#phone').val();
                    obj['recaptcha'] = grecaptcha.getResponse();

                    arreglo.push(obj);

                    var jsonObject = {
                        "Email": arreglo
                    };

                    $.ajax({
                        url: "@Url.Action("MensajeBanTotal", "Email")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "¡Ha ocurrido algo! ",
                                text: 'Lo sentimos. Intenta más tarde.',
                                icon: "warning"
                            })
                            grecaptcha.reload();
                            grecaptcha.reset();
                        },
                        success: function (response) {
                            if (response == "ok") {

                                swal({
                                    title: "Mensaje enviado. !",
                                    text: response.RespuestaText,
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                    .then((value) => {
                                        location.reload();
                                    });
                            } else {
                                swal({
                                    title: "¡Ha ocurrido algo! ",
                                    text: response,
                                    icon: "warning"
                                });

                                grecaptcha.reload();
                                grecaptcha.reset();

                            }
                        }
                    });

                }
                else {
                    swal({
                        title: "¡Ha ocurrido algo! ",
                        text: "Recapcha no verificado",
                        icon: "warning"
                    });
                }
            }, timeSlide);

        }

        function valida() {
            var respuesta = false;
            var response = grecaptcha.getResponse();

            if (response.length == 0) {
                respuesta = false; //"Captcha no verificado";
            } else {
                respuesta = true;
            }
            return respuesta;
        };
    </script>

    <script>

        $(document).ready(function () {
            var timeSlide = 0;
            $('#timer').hide(0);
            $('#timer').css('display', 'none');
            $('#BtnRegistrarDemo').click(function () {
                $('.box-success,.box-error').slideUp(timeSlide);
                setTimeout(function () {

                    if (validaLogin()) {
                        if (ValidFormEmail()) {
                            var arreglo = [];
                            var obj = {};
                            obj['Nombre'] = $('#R_Nombre').val();
                            obj['CorreoPersonal'] = $('#R_EPer').val();
                            obj['TelefonoMovil'] = $('#R_TMov').val();
                            obj['TelefonoLocal'] = $('#R_TLoc').val();
                            arreglo.push(obj);
                            var jsonObject = {
                                "Usuario": arreglo
                            };

                            console.log(jsonObject);

                            $.ajax({
                                url: "@Url.Action("SolicitudBanTotal", "Registros")",
                                type: "POST",
                                data: JSON.stringify(jsonObject),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                error: function (response) {
                                    console.log(response);
                                    swal({
                                        title: "Algo ocurrió !",
                                        text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                        icon: "warning",
                                        button: "Aceptar",
                                    });
                                },
                                success: function (response) {
                                    if (response.RespuestaText == "ok") {
                                        swal({
                                            title: "Solicitud enviada. !",
                                            //text: response.RespuestaText,
                                            icon: "success",
                                            button: "Aceptar",
                                        })
                                            .then((value) => {
                                                window.location.reload();
                                            });
                                    } else {
                                        swal({
                                            title: "¡Ha ocurrido algo! ",
                                            text: response.RespuestaText,
                                            icon: "warning"
                                        });
                                    }
                                }
                            });
                        }
                    } else {
                        $.notify({
	                    icon: 'fa fa-paw',
	                    message: "Formulario incompleto."
                        },{
                            type: 'danger',
                            allow_dismiss: false,
                            animate: {
		                        enter: 'animated rollIn',
		                        exit: 'animated rollOut'
	                        }
                        });
                    }
                }, timeSlide);
                return false;
            });
        });

        function validaLogin() {
            var respuesta = false;

            $('#R_Nombre').css("border", "2px solid #FF5722");
            $('#R_TMov').css("border", "2px solid #FF5722");
            $('#R_EPer').css("border", "2px solid #FF5722");

            if ($('#R_Nombre').val().length > 0) {
                $('#R_Nombre').css("border", "2px solid #fff");
            }

            if ($('#R_EPer').val().length > 0) {
                $('#R_EPer').css("border", "2px solid #fff");
            }

            if ($('#R_TMov').val().length > 0) {
                $('#R_TMov').css("border", "2px solid #fff");
            }



            if ($('#R_Nombre').val().length > 0) {
                if ($('#R_EPer').val().length > 0) {
                    if ($('#R_TMov').val().length > 0) {
                        respuesta = true;
                    }
                }
            }

            return respuesta;
        }

        function ValidFormEmail() {
            var respuesta = false;

            if (CorreoFromJob() == "ok") {
                $('#R_EPer').css("border", "2px solid #fff");
                respuesta = true;
            } else {

                $('#R_EPer').css("border", "2px solid #FF5722");

                $.notify({
	            icon: 'fa fa-paw',
	            message: "Correo electrónico invalido."
                },{
                    type: 'danger',
                    allow_dismiss: false,
                    animate: {
		                enter: 'animated rollIn',
		                exit: 'animated rollOut'
	                }
                });
            }
            return respuesta;
        }

        $(document).ready(function () {
            // NO ESCRIBIR LETRAS
            $('#R_TMov').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });

             $('#R_TLoc').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });
    </script>
</body>
</html>
