
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="~/images/ico.ico">
    <title>Asae Consultores S.A de C.V</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Template CSS Files
    ================================================== -->
    <!-- Twitter Bootstrs CSS -->
    <link href="~/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Ionicons Fonts Css -->
    <link href="~/plugins/ionicons/ionicons.min.css" rel="stylesheet" />
    <!-- animate css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
    <!-- Hero area slider css-->
    <link href="~/plugins/slider/slider.css" rel="stylesheet" />
    <!-- owl craousel css -->
    <link href="~/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="~/plugins/owl-carousel/owl.theme.css" rel="stylesheet" />
    <!-- Fancybox -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Glegoo" rel="stylesheet" />
    <link href="~/plugins/facncybox/jquery.fancybox.css" rel="stylesheet" />
    <!-- template main css file -->
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        #hero-area {
            background: url('../../images/xpinnit/Cambia-de-aire.jpg') no-repeat 50%;
            background-size: cover;
            background-attachment: fixed;
            padding: 150px 0;
            color: #fff;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
            position: relative;
        }

            #hero-area:before {
                content: '';
                z-index: 9;
                background-image: linear-gradient( 114deg, #ffffff 11%,#11707b1f 94%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

        .cd-headline.slide .cd-words-wrapper {
            color: #fff;
        }

        #call-to-action {
            background-image: linear-gradient(114deg, #810b68 30%, #0f737c 99%);
            background-size: cover;
            background-attachment: fixed;
            padding: 80px 0;
            text-align: center;
            position: relative;
            color: #fff;
        }

        #hero-area .btn {
            background-color: #7b0e68;
            border: none;
            color: #fff;
            padding: 20px 35px;
            margin-top: 3px;
            font-size: 16px;
            font-size: 13px;
            line-height: 1em;
            font-family: roboto-bold,roboto,sans-serif;
            text-transform: initial;
            letter-spacing: normal;
            /* border-radius: 0; */
            transition: -webkit-box-shadow, -moz-box-shadow, box-shadow,background-color .4s;
        }

            #hero-area .btn:hover {
                background-color: #a75b9a;
                border: none;
                color: #fff;
                padding: 20px 35px;
                margin-top: 3px;
                font-size: 16px;
                font-size: 13px;
                line-height: 1em;
                font-family: roboto-bold,roboto,sans-serif;
                /* text-transform: uppercase; */
                letter-spacing: normal;
                /* border-radius: 0; */
                -webkit-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
                box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
            }

        .btn {
            background-color: #7b0e68;
            border: none;
            color: #fff;
            padding: 20px 35px;
            margin-top: 3px;
            font-size: 16px;
            font-size: 13px;
            line-height: 1em;
            font-family: roboto-bold,roboto,sans-serif;
            /*text-transform: uppercase;*/
            letter-spacing: normal;
            /* border-radius: 0; */
            transition: -webkit-box-shadow, -moz-box-shadow, box-shadow,background-color .4s;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
        }

        #contact-section .contact-form .btn-send {
            color: #fff;
            outline: none;
            background: #46b5e6;
            transition: -webkit-box-shadow, -moz-box-shadow, box-shadow,background-color .4s;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
        }

        .btn:hover {
            background-color: #a75b9a;
            border: none;
            color: #fff;
            padding: 20px 35px;
            margin-top: 3px;
            font-size: 16px;
            font-size: 13px;
            line-height: 1em;
            font-family: roboto-bold,roboto,sans-serif;
            /* text-transform: uppercase; */
            letter-spacing: normal;
            /* border-radius: 0; */
            -webkit-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
            box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
        }

        .borderless td, .borderless th {
            border: none;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #fff;
        }

        #hero-area h1 {
            font-size: 40px;
            line-height: 50px;
            color: rgb(101 98 100);
            font-weight: 700;
            margin-bottom: 15px;
            text-transform: initial;
        }

        #hero-area h2 {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 38px;
            line-height: 27px;
            text-transform: initial;
            color: #605e5e;
            font-family: 'Roboto', sans-serif;
            margin-top: 25px;
        }

        .btnM {
            background-color: #7b0e68;
            border: none;
            color: #fff;
            padding: 15px 35px;
            margin-top: 3px;
            font-size: 16px;
            font-size: 13px;
            line-height: 1em;
            font-family: roboto-bold,roboto,sans-serif;
            /*text-transform: uppercase;*/
            letter-spacing: normal;
            /* border-radius: 0; */
            transition: -webkit-box-shadow, -moz-box-shadow, box-shadow,background-color .4s;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
            width: 100%;
        }

            .btnM:hover {
                background-color: #a75b9a;
                border: none;
                color: #fff;
                padding: 15px 35px;
                margin-top: 3px;
                font-size: 16px;
                font-size: 13px;
                line-height: 1em;
                font-family: roboto-bold,roboto,sans-serif;
                /* text-transform: uppercase; */
                letter-spacing: normal;
                /* border-radius: 0; */
                -webkit-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
                box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.75);
            }

        .btnMC {
            background-color: #cccccc;
            border: none;
            color: #393939;
            padding: 15px 35px;
            margin-top: 3px;
            font-size: 16px;
            font-size: 13px;
            line-height: 1em;
            font-family: roboto-bold,roboto,sans-serif;
            /*text-transform: uppercase;*/
            letter-spacing: normal;
            /* border-radius: 0; */
            transition: -webkit-box-shadow, -moz-box-shadow, box-shadow,background-color .4s;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0px solid #000000;
        }

            .btnMC:hover {
                background-color: #b1b1b1;
                border: none;
                color: #fff;
                padding: 15px 35px;
                margin-top: 3px;
                font-size: 16px;
                font-size: 13px;
                line-height: 1em;
                font-family: roboto-bold,roboto,sans-serif;
                /* text-transform: uppercase; */
                letter-spacing: normal;
                /* border-radius: 0; */
            }

        #footer .social li a {
            font-size: 22px;
            color: #9e9e9e;
        }

        #contact-section .address i, #contact-section .email i, #contact-section .phone i {
            font-size: 45px;
            color: #47b5e6;
        }

        #contact-section {
            padding: 0px 0;
        }

        #footer .copyright a {
            color: #42afe2;
        }

        #footer .social {
            text-align: center;
            margin-bottom: 0;
        }

        #footer .copyright {
            font-size: 13px;
            text-align: center;
            margin-bottom: 0;
        }

        input[type="text"], [type="password"], [type="email"], [type="tel"], textarea, textarea.form-control {
            height: 40px;
            margin: 0;
            padding: 0 10px;
            vertical-align: middle;
            background: #fff;
            border: 2px solid #fff;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 300;
            line-height: 50px;
            color: #888;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            -o-transition: all .3s;
            -moz-transition: all .3s;
            -webkit-transition: all .3s;
            -ms-transition: all .3s;
            transition: all .3s;
        }
    </style>
    <style>

        .shared-panel {
            overflow: auto;
        }

            .shared-panel span {
                margin: 10px 0;
                font-size: 16px;
                font-weight: 600;
            }

        .shared {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 5px 0;
            padding: 0;
            background: url('../../Assets/img/shared.png') no-repeat;
            float: left;
            margin-right: 5px;
            cursor: pointer;
            border-radius: 50%;
        }

            .shared:hover {
                opacity: 0.7;
            }

            .shared.gp {
                background-position: 0px 0px;
                background-color: #E62B34;
            }

            .shared.tt {
                background-position: 0px -30px;
                background-color: #43BDF0;
            }

            .shared.ce {
                background-position: 0px -60px;
                background-color: #8A898D;
            }

            .shared.wa {
                background-position: 0px -90px;
                background-color: #0dc143;
            }

            .shared.fb {
                background-position: 0px -120px;
                background-color: #6081C4;
            }

        .st2 {
            border-radius: 0;
        }

        .st3 {
            border-radius: 5px;
        }
    </style>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NT6V24P');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NT6V24P"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--
       ==================================================
       Header Section Start
       ================================================== -->
    <header id="top-bar" class="navbar-fixed-top animated-header">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- /responsive nav button -->
                <!-- logo -->
                <div class="navbar-brand center-block">
                    <a href="@Url.Action("Index", "Home")">
                        <img src="~/images/Tickets/LogoAsae.png" width="100%" />
                    </a>
                </div>
                <!-- /logo -->
            </div>
            <!-- /main nav -->
        </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="title" style="        color: #9E9E9E;
                    font-size: 30px;
                    font-weight: 700;
                    text-transform: initial;margin-bottom: 0px;">
                        Solicitar una Demostración
                    </h2>
                    <br />
                    <p style="color: #9E9E9E;">Envía tu solicitud y en breve un ejecutivo te contactara para atender tu solicitud y brindarte una demo totalmente gratis.</p>

                </div>
                <div class="modal-body" style="        padding: 25px 25px 30px 25px;
        background: #e6e6e6;
        color: #5a5a5a;">
                    <div class="row">
                        <div class="col-md-6">
                            <br /><br /><br /><br />
                            <img src="~/images/Tickets/Banner.png" width="100%" />
                            <br /><br />
                        </div>
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="inputAddress">Nombre</label>
                                    <input type="text" class="form-control" id="R_Nombre" placeholder="Nombre completo">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Email</label>
                                    <input type="email" class="form-control" id="R_EPer" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Teléfono </label>
                                    <input type="tel" class="form-control" id="R_TMov" placeholder="Teléfono">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail4">Teléfono Local</label>
                                    <input type="tel" class="form-control" id="R_TLoc" placeholder="Teléfono Local">
                                </div>
                            </div>
                            <button type="button" id="BtnRegistrarDemo" class="btnM btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <p style="font-size:12px;"><span style="text-decoration: underline;">Margaritas 426, Álvaro Obregón, Ciudad de México</span> | <span style="text-decoration: underline;">asae_contactanos@asae.com.mx</span> | <span style="text-decoration: underline;">(55) 53 22 05 00</span></p>
                        </div>

                    </div>
                    <button type="button" class="btnMC btn-secondary" data-dismiss="modal">Cerrar</button>


                </div>
            </div>
        </div>
    </div>


    <!--
    ==================================================
    Slider Section Start
    ================================================== -->
    <section id="hero-area">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                                <span> Cubra todas sus necesidades ITSM con Asae Service Desk (ASD), una sola plataforma adaptable y fácil de configurar. </span><br>
                            </h1>
                        </section> <!-- cd-intro -->
                        <!-- /.slider -->
                        <h2 class="wow fadeInUp animated" data-wow-delay=".6s">
                            Aumente el desempeño operacional de soporte de TI con Asae Service Desk, nuestra solución ITSM basada en metodología ITIL, pensada y elaborada para gestionar sus servicios de TI con las mejores prácticas.
                        </h2>
                        <a data-toggle="modal" data-target="#exampleModal" class="btn-lines  btn" data-wow-delay=".9s">Solicitar una demo gratuita </a>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="block wow fadeInUp" data-wow-delay=".3s">
                        <!-- Slider -->
                        <section class="cd-intro">
                            <h1 class="wow fadeInUp animated cd-headline slide" data-wow-delay=".4s">
                                <img src="~/images/Tickets/Banner.png" width="100%" />
                            </h1>
                        </section> <!-- cd-intro -->

                    </div>
                </div>


            </div>
        </div>
    </section><!--/#main-slider-->
    <!--
           ==================================================
           Call To Action Section Start
           ================================================== -->
    <section id="call-to-action" style="padding: 40px 0;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                            Asae Service Desk (ASD) es una solución ITSM más innovadora para gestionar servicios de TI
                        </h2>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--
    ==================================================
        Service Page Section  Start
    ================================================== -->
    <section id="service-page" class="pages service-page" style="background-color:#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <br>
                        <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/phone.png" />
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div class="block">

                        <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="
        font-size: 40px;
        line-height: 50px;
        color: rgb(101 98 100);
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: initial;">
                            Asae Service Desk (ASD) basada en metodología ITIL

                        </h2>
                        <br /><br />
                        <table width="100%" class="table borderless">
                            <tbody>
                                <tr>
                                    <td width="4%"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /> </td>
                                    <td width="40%"><p class="subtitle-des wow fadeInUp animated text-justify" data-wow-delay=".5s" data-wow-duration="500ms" style=" text-align: left; font-size: 18px;margin-bottom: 1px;">Incidentes.</p></td>

                                </tr>
                                <tr>
                                    <td width="50PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /> </td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="        text-align: left;margin-bottom: 1px;
        font-size: 18px;
">Problemas.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /></td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="        text-align: left;margin-bottom: 1px;
        font-size: 18px;
">Gestión de cambios.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /></td>
                                    <td><p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align:left;margin-bottom: 1px; font-size:18px;">Pedidos de servicio.</p></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </section>


    <section id="service-page" class="pages service-page" style="background-color:#ffffff">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="block">

                        <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color: rgb(94 94 94); font-size: 40px; line-height: 50px; color: rgb(101 98 100); font-weight: 700; margin-bottom: 15px; text-transform: initial;">
                            Crea experiencias de servicio flexibles
                        </h2>
                        <br /><br />
                        <table width="100%" class="table borderless">
                            <tbody>
                                <tr>
                                    <td width="4%" style="border-top: 1px solid #f6f6f6;"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /> </td>
                                    <td width="40%">
                                        <p class="subtitle-des wow fadeInUp animated text-justify" data-wow-delay=".5s" data-wow-duration="500ms" style="text-align: left;font-size: 18px;margin-bottom: 1px;">
                                            Cree sus propios flujos de trabajo.
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td width="10PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /> </td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style=" text-align: left; margin-bottom: 1px; font-size: 18px; ">Adaptación a sus operaciones de negocio.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="10PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /></td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style=" text-align: left; margin-bottom: 1px; font-size: 18px;">	Visibilidad total sobre cualquier proceso o servicio.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="10PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /></td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style=" text-align: left; margin-bottom: 1px; font-size: 18px;">	Soluciones rápidas a través de flujos.</p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>

                <div class="col-md-1">
                </div>

                <div class="col-md-6">
                    <div class="block">
                        <br>
                        <img style="border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;" class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/ASD_Diagrama_Flujo.png" />
                    </div>
                </div>

                <div class="col-md-12">
                    <br /><br />
                    <div class="block wow fadeInUp center-block text-center" data-wow-delay=".3s">
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn-lines  btn" data-wow-delay=".9s">Solicitar una demo gratuita </button>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section id="service-page" class="pages service-page" style="background-color:#f6f6f6">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <br>
                        <img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/1.gif" />
                    </div>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <div class="block">

                        <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="
        font-size: 40px;
        line-height: 50px;
        color: rgb(101 98 100);
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: initial;">
                            Asae Service Desk (ASD) solución ITSM

                        </h2>
                        <br /><br />
                        <table width="100%" class="table borderless">
                            <tbody>
                                <tr>
                                    <td width="20PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /></td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="        text-align: left;margin-bottom: 1px;
        font-size: 18px;
">Alinea TI con las necesidades de su negocio y preste servicios de manera eficiente.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="4%"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /> </td>
                                    <td width="40%"><p class="subtitle-des wow fadeInUp animated text-justify" data-wow-delay=".5s" data-wow-duration="500ms" style=" text-align: left; font-size: 18px;margin-bottom: 1px;">Uso de las mejores practicas.</p></td>

                                </tr>
                                <tr>
                                    <td width="50PX"><img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" src="~/images/Tickets/250check.png" /> </td>
                                    <td>
                                        <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" style="        text-align: left;margin-bottom: 1px;
        font-size: 18px;
">Una sola plataforma con disponibilidad en la nube.</p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </section>



    <style>

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
            border-width: 0;
        }

        .nav-stacked > li + li {
            margin-top: 0px;
        }

        .nav-tabs > li > a {
            padding: 50px 50px 50px 50px !important;
            color: #666365;
            background-color: #fdfdfdc9;
            border: 0px;
            border-radius: 0px;
            margin: 0;
        }

            .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
                background-color: #7a567261;
                color: #FFFFFF;
                z-index: 99;
                transition: all 0.5s ease 0s;
            }

        .nav-tabs > li.active > a {
            color: #FFFFFF;
            background-color: #7b106a;
            box-shadow: 0 0px 10px rgba(0, 0, 0, .6);
            z-index: 100;
        }

            .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                color: #FFFFFF;
                background-color: #7b106a;
                box-shadow: 0 0px 5px rgba(0, 0, 0, .6);
                transition: all 0.5s ease 0s;
            }
    </style>
    <!--
    ==================================================
        Service Page Section  Start
    ================================================== -->
    <section id="service-page" class="pages service-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">

                        <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="
        color: rgb(94 94 94);
        font-size: 40px;
        line-height: 50px;
        color: rgb(101 98 100);
        font-weight: 700;
        margin-bottom: 15px;
        text-transform: initial;
        text-align:center;
   ">
                            ¿Por qué ASAE?
                            <br />
                        </h2>
                    </div>
                </div>
                <div class="col col-sm-4">
                    <ul class="nav nav-tabs nav-stacked text-center wow fadeInUp animated" role="tablist" data-wow-delay=".5s" data-wow-duration="500ms">
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/Consulting-Business-1024x683.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Consultoría en manejo de proyectos</a></li>
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/brainstorming-business-colleagues-1374363_0.jpg'); background-size: cover;background-position: center;background-repeat: no-repeat;"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Soluciones personalizadas</a></li>
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/ditl_collab.png'); background-size: cover; background-position: center; background-repeat: no-repeat;"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Implementación fácil y rápida</a></li>
                        <li role="presentation" style="font-size:18px;font-family: roboto-bold,roboto,sans-serif; background-image: url('../../images/Tickets/plan-de-capacitación.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;"><a href="#usuarios" aria-controls="usuarios" role="tab" data-toggle="tab">Entrenamiento a usuarios</a></li>
                    </ul>
                </div>
                <div class="col col-sm-8">
                    <div class="row tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="home">
                            <br />
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <p class="subtitle-des wow fadeInUp animated " data-wow-delay=".5s" data-wow-duration="500ms" style="text-align: left; font-size: 18px; margin-bottom: 1px; visibility: visible; animation-duration: 500ms; animation-delay: 0.5s; animation-name: fadeInUp;">
                                        Contamos con la experiencia de proyectos realizados a lo largo de los años a nivel nacional en el sector de la Informática. Además, proporcionamos soluciones profesionales de alta calidad a los problemas complejos que enfrenta tu equipo de trabajo.
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11 text-center">
                                    <img src="~/images/Tickets/Consulting-Business-1024x683.jpg" width="70%" class="wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms" />
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile">
                            <br />
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <p class="subtitle-des" style="text-align: left; font-size: 18px; margin-bottom: 1px;">
                                        Disponemos de un equipo completo de diseñadores, ingenieros y técnicos de pruebas de primer nivel listos para desarrollar soluciones personalizadas según sus necesidades y requisitos.
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11 text-center" style="opacity: 0.8;">
                                    <img src="~/images/Tickets/brainstorming-business-colleagues-1374363_0.jpg" width="70%" />
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="messages">
                            <br />
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <p class="subtitle-des " style="text-align: left; font-size: 18px; margin-bottom: 1px;">
                                        Ofrecemos capacitación presencial y online en donde te ayudamos a organizar tus sesiones de la mano de nuestros expertos.
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11 text-center" style="opacity: 0.8;">
                                    <img src="~/images/Tickets/ditl_collab.png" width="70%" />
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="usuarios">
                            <br />
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11">
                                    <p class="subtitle-des" style="text-align: left; font-size: 18px; margin-bottom: 1px;">
                                        Creemos que la capacitación para el usuario es uno de los componentes más importantes y necesarios para utilizar con éxito su nuevo sistema.
                                    </p>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-11 text-center" style="opacity: 0.8;">
                                    <img src="~/images/Tickets/plan-de-capacitación.jpg" width="70%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <br />
                    <div class="block wow fadeInUp center-block text-center" data-wow-delay=".3s">
                        <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn-lines  btn" data-wow-delay=".9s">Solicitar una demo gratuita </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- #works -->
    <!--
            ==================================================
                Clients Section Start
            ================================================== -->
    <section id="clients" class="clients" style="background-color:#f6f6f6">
        <div class="container">
            <div class="section-heading">
                <h2 class="title wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="color:rgb(94 94 94); font-size: 40px;
                            line-height: 50px;
                            color: rgb(101 98 100);
                            font-weight: 700;
                            margin-bottom: 15px;
                            text-transform: initial;">
                    Clientes
                </h2>
            </div>

            <div class="row" style="text-align:center">
                <div class="col-md-4 center-block">
                </div>
                <div class="col-md-8 center-block">
                    <div id="clients-logo" class="owl-carousel text-center">
                        <div>
                            <img src="~/images/clients/client-18.png" />
                        </div>
                        <div>
                            <img src="~/images/clients/SERVICIOS_I_G_B.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="block">
                        <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Envíanos un mensaje.</h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            Estamos a su disposición, para más información o para programar una reunión, le pedimos que rellene el siguiente formulario y nuestros consultores se pondrán en contacto con usted.
                        </p>
                        <div class="contact-form">
                            <form id="contact-form" method="#" action="#" role="form">

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".6s">
                                    <input type="text" placeholder="Tu Nombre" class="form-control" name="name" id="name">
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                                    <input type="email" placeholder="Tu Email" class="form-control" name="email" id="email">
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                                    <input type="text" placeholder="Teléfono" class="form-control" name="phone" id="phone">
                                </div>

                                <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                                    <textarea rows="6" placeholder="Mensaje" class="form-control" name="message" id="message">Me gustaría recibir más información acerca de ASD</textarea>
                                </div>

                                <div class="g-recaptcha" data-sitekey="6LdXFXcUAAAAABTN8TrSf30UgdaxPjFL1FB4vcaS"></div>
                                <br />
                                <div id='alertBoxes'></div><span class='timer' id='timer'></span>
                                <br />
                                <div id="success" class="success">
                                    Gracias, tú mensaje ha sido envido.
                                </div>

                                <div id="error" class="error">
                                    Lo sentimos. Intenta más tarde.
                                </div>

                                <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.4s">
                                    <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Enviar mensaje" style="border-radius: 5px; width: 100%;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map-area">
                        <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Ubicación </h2>
                        <p class="subtitle-des wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                            Visitas nuestras instalaciones!.

                        </p>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.429625988862!2d-99.18184978509457!3d19.350541386931017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fff0308f9987%3A0xfb047a70088b8f85!2sAsae+Consultores%2C+S.A.+de+C.V.!5e0!3m2!1ses-419!2smx!4v1530717966296" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>

                        <h2 class="subtitle  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Compartir pagina  </h2>
                        <div class="widget-content">
                            <div class="shared-panel">
                                <a target="_blank" class="shared fb st3" title="Facebook"></a>
                                <a target="_blank" class="shared tt st3" title="Twitter"></a>
                                
                                <a class="shared wa st3" data-action='share/whatsapp/share' title="WhatsApp"></a>
                                <a target="_blank" class="shared ce st3" title="Email"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row address-details">
                <div class="col-md-4">
                    <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <i class="ion-ios-location-outline"></i>
                        <h5>Margaritas 426, Álvaro Obregón, Ciudad de México</h5>
                    </div>
                </div>
                <!--
                    <div class="col-md-3">
                        <div class="address wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                            <i class="ion-ios-location-outline"></i>
                            <h5>125 , Kings Street,Melbourne <br>United Kingdom,600562</h5>
                        </div>
                    </div>

                -->
                <div class="col-md-4">
                    <div class="email wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <a href="mailto:asae_contactanos@asae.com.mx">
                            <i class="ion-ios-email-outline"></i>
                            <p style="color:rgb(71 181 230);"><br /> asae_contactanos@asae.com.mx</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="phone wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <i class="ion-ios-telephone-outline"></i>
                        <p>(55) 53 22 05 00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
            ==================================================
            Footer Section Start
            ================================================== -->
    <footer id="footer">
        <div class="container">

            <div class="col-md-12">
                <!-- Social Media -->
                <ul class="social">
                    <li>
                        <img src="~/images/AsaeLogo.png" width="100%" />
                    </li>
                    <br />
                    <br />
                    <li>
                        <a href="https://www.facebook.com/AsaeConsultoresMX/" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/asaeconsultores" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://mx.linkedin.com/company/asae-consultores-s.a.-de-c.v." class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    @*<li>
                            <a href="#" class="Google Plus">
                                <i class="ion-social-googleplus"></i>
                            </a>
                        </li>*@
                </ul>
                <br />
            </div>
            <div class="col-md-12">
                <p class="copyright">
                    Copyright: <span>
                        <script>document.write(new Date().getFullYear())</script>
                    </span> . All Rights Reserved
                    <a href="#" target="_blank">Asae Consultores S.A de C.V</a>. <br>
                    Aviso de privacidad
                    <a href="@Url.Action("AvisoPrivacidad", "Home")" target="_blank">
                        Asae Consultores S.A de C.V
                    </a>
                </p>
            </div>
        </div>
    </footer> <!-- /#footer -->
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v9.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="682320818526294"
         theme_color="#0A7CFF">
    </div>

    <!-- Template Javascript Files
    ================================================== -->
    <!-- jquery -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/plugins/jQurey/jquery.min.js"></script>
    <!-- Form Validation -->
    <script src="~/plugins/form-validation/jquery.form.js"></script>
    <script src="~/plugins/form-validation/jquery.validate.min.js"></script>
    <!-- owl carouserl js -->
    <script src="~/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="~/plugins/wow-js/wow.min.js"></script>
    <!-- slider js -->
    <script src="~/plugins/slider/slider.js"></script>
    <!-- Fancybox -->
    <script src="~/plugins/facncybox/jquery.fancybox.js"></script>
    <!-- template main js -->
    <script src="~/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap-notify.js"></script>

    <script src="~/Scripts/main.js"></script>


    <script>

        $(document).on('click', ".shared", function () {
            var url = window.location.href;
            var title = document.title;

            url = encodeURIComponent(url);
            title = encodeURIComponent(title);

            //Boton Facebook
            if ($(this).hasClass('fb')) {
                url = 'https://www.facebook.com/sharer/sharer.php?u=' + url + '&t=' + title;

                //Boton Twitter
            } else if ($(this).hasClass('tt')) {
                user = 'asaeconsultores';//Nuestro usuario de twitter para mostrar como user
                url = 'https://twitter.com/intent/tweet?text=' + title + '&url=' + url + '&via=' + user;

                //Boyton Google Plus
            } else if ($(this).hasClass('gp')) {
                url = 'https://plus.google.com/share?url=' + url;

                //Boton WhtsApp
            } else if ($(this).hasClass('wa')) {
                url = 'https://api.whatsapp.com/send?text="' + document.title + '" - "' + window.location.href + '"';

                //Boton correo electronico
            } else if ($(this).hasClass('ce')) {
                url = 'mailto:?subject=' + title + '&body=' + url;

                //Ningun boton valido
            } else return;

            //Abrimos la url

            window.open(url.replace('+', '%2b'), '_blank');
        });

        $(document).ready(function () {
            $('#contact-form').validate({
                rules: {
                    name: {
                        required: true, minlength: 4
                    }
                    , email: {
                        required: true, email: true
                    }
                    , subject: {
                        required: false,
                    }
                    , message: {
                        required: true,
                    }
                    ,
                }
                , messages: {
                    user_name: {
                        required: "Come on, you have a name don't you?",
                        minlength: "Your name must consist of at least 2 characters"
                    }
                    , email: {
                        required: "Por favor ingrese su dirección de correo electrónico.",
                    }
                    , message: {
                        required: "Coloca tu mensaje",
                        minlength: "Your name must consist of at least 2 characters"
                    }
                    ,
                }
                , submitHandler: function (form) {
                    EnvioForm();
                }
            });
        });

        function EnvioForm()
        {
            var timeSlide = 500;
            setTimeout(function () {

                if (valida()) {
                    var arreglo = [];
                    var obj = {};

                    obj['nombre'] = $('#name').val();
                    obj['email'] = $('#email').val();
                    obj['mensaje'] = $('#message').val();
                    obj['telefono'] = $('#phone').val();
                    obj['recaptcha'] = grecaptcha.getResponse();

                    arreglo.push(obj);

                    var jsonObject = {
                        "Email": arreglo
                    };

                    $.ajax({
                        url: "@Url.Action("MensajeASD", "Email")",
                        type: "POST",
                        data: JSON.stringify(jsonObject),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        error: function (response) {
                            swal({
                                title: "¡Ha ocurrido algo! ",
                                text: 'Lo sentimos. Intenta más tarde.',
                                icon: "warning"
                            })
                            grecaptcha.reload();
                            grecaptcha.reset();
                        },
                        success: function (response) {
                            if (response == "ok") {

                                swal({
                                    title: "Mensaje enviado. !",
                                    //text: response.RespuestaText,
                                    icon: "success",
                                    button: "Aceptar",
                                })
                                    .then((value) => {
                                        location.reload();
                                        //window.location.href = '@Url.Action("Ticket","Soluciones")';
                                    });
                            } else {
                                swal({
                                    title: "¡Ha ocurrido algo! ",
                                    text: response,
                                    icon: "warning"
                                });

                                grecaptcha.reload();
                                grecaptcha.reset();

                            }
                        }
                    });

                }
                else {
                    swal({
                        title: "¡Ha ocurrido algo! ",
                        text: "Recapcha no verificado",
                        icon: "warning"
                    });
                }
            }, timeSlide);

        }

        function valida() {
            var respuesta = false;
            var response = grecaptcha.getResponse();

            if (response.length == 0) {
                respuesta = false; //"Captcha no verificado";
            } else {
                respuesta = true;
            }
            return respuesta;
        };
    </script>

    <script>

        $(document).ready(function () {
            var timeSlide = 0;
            $('#timer').hide(0);
            $('#timer').css('display', 'none');
            $('#BtnRegistrarDemo').click(function () {
                $('.box-success,.box-error').slideUp(timeSlide);
                setTimeout(function () {

                    if (validaLogin()) {
                        if (ValidFormEmail()) {
                            var arreglo = [];
                            var obj = {};
                            obj['Nombre'] = $('#R_Nombre').val();
                            obj['CorreoPersonal'] = $('#R_EPer').val();
                            obj['TelefonoMovil'] = $('#R_TMov').val();
                            obj['TelefonoLocal'] = $('#R_TLoc').val();
                            arreglo.push(obj);
                            var jsonObject = {
                                "Usuario": arreglo
                            };

                            console.log(jsonObject);

                            $.ajax({
                                url: "@Url.Action("SolicitudASD", "Registros")",
                                type: "POST",
                                data: JSON.stringify(jsonObject),
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                error: function (response) {
                                    console.log(response);
                                    swal({
                                        title: "Algo ocurrió !",
                                        text: "Ha ocurrido un problema, inténtalo mas tarde ",
                                        icon: "warning",
                                        button: "Aceptar",
                                    });
                                },
                                success: function (response) {
                                    if (response.RespuestaText == "ok") {
                                        swal({
                                            title: "Solicitud enviada. !",
                                            //text: response.RespuestaText,
                                            icon: "success",
                                            button: "Aceptar",
                                        })
                                            .then((value) => {
                                                window.location.reload();
                                            });
                                    } else {
                                        swal({
                                            title: "¡Ha ocurrido algo! ",
                                            text: response.RespuestaText,
                                            icon: "warning"
                                        });
                                    }
                                }
                            });
                        }
                    } else {
                        $.notify({
	                    icon: 'fa fa-paw',
	                    message: "Formulario incompleto."
                        },{
                            type: 'danger',
                            allow_dismiss: false,
                            animate: {
		                        enter: 'animated rollIn',
		                        exit: 'animated rollOut'
	                        }
                        });
                    }
                }, timeSlide);
                return false;
            });
        });

        function validaLogin() {
            var respuesta = false;

            $('#R_Nombre').css("border", "2px solid #FF5722");
            $('#R_TMov').css("border", "2px solid #FF5722");
            $('#R_EPer').css("border", "2px solid #FF5722");

            if ($('#R_Nombre').val().length > 0) {
                $('#R_Nombre').css("border", "2px solid #fff");
            }

            if ($('#R_EPer').val().length > 0) {
                $('#R_EPer').css("border", "2px solid #fff");
            }

            if ($('#R_TMov').val().length > 0) {
                $('#R_TMov').css("border", "2px solid #fff");
            }



            if ($('#R_Nombre').val().length > 0) {
                if ($('#R_EPer').val().length > 0) {
                    if ($('#R_TMov').val().length > 0) {
                        respuesta = true;
                    }
                }
            }

            return respuesta;
        }

        function ValidFormEmail() {
            var respuesta = false;

            if (CorreoFromJob() == "ok") {
                $('#R_EPer').css("border", "2px solid #fff");
                respuesta = true;
            } else {

                $('#R_EPer').css("border", "2px solid #FF5722");

                $.notify({
	            icon: 'fa fa-paw',
	            message: "Correo electrónico invalido."
                },{
                    type: 'danger',
                    allow_dismiss: false,
                    animate: {
		                enter: 'animated rollIn',
		                exit: 'animated rollOut'
	                }
                });
            }
            return respuesta;
        }

        $(document).ready(function () {
            // NO ESCRIBIR LETRAS
            $('#R_TMov').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });

             $('#R_TLoc').on('input', function () {
                this.value = this.value.replace(/[^0-9]/g, '');
            });
        });
    </script>
</body>
</html>