
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_LayoutBlog_.cshtml";
}

<style>

    .shared-panel {
        overflow: auto;
    }

        .shared-panel span {
            margin: 10px 0;
            font-size: 16px;
            font-weight: 600;
        }

    .shared {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 5px 0;
        padding: 0;
        background: url('../../Assets/img/shared.png') no-repeat;
        float: left;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 50%;
    }

        .shared:hover {
            opacity: 0.7;
        }

        .shared.gp {
            background-position: 0px 0px;
            background-color: #E62B34;
        }

        .shared.tt {
            background-position: 0px -30px;
            background-color: #43BDF0;
        }

        .shared.ce {
            background-position: 0px -60px;
            background-color: #8A898D;
        }

        .shared.wa {
            background-position: 0px -90px;
            background-color: #0dc143;
        }

        .shared.fb {
            background-position: 0px -120px;
            background-color: #6081C4;
        }

    .st2 {
        border-radius: 0;
    }

    .st3 {
        border-radius: 5px;
    }
</style>



<!-- ********** Hero Area Start ********** -->
@Html.Raw(ViewBag.Header)
<!-- ********** Hero Area End ********** -->


<div class="main-content-wrapper section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- ============= Post Content Area Start ============= -->
            <div class="col-12 col-lg-8">
                <div class="single-blog-content mb-100">
                    @Html.Raw(ViewBag.Blog)
                </div>
            </div>
            <!-- ========== Sidebar Area ========== -->
            <div class="col-12 col-md-8 col-lg-4">
                <div class="post-sidebar-area wow fadeInUpBig" data-wow-delay="0.2s">
                    <div class="sidebar-widget-area">
                        <h5 class="title">Compartir artículo </h5>
                        <div class="widget-content">
                            <div class="shared-panel">
                                <a target="_blank" class="shared fb st3" title="Facebook"></a>
                                <a target="_blank" class="shared tt st3" title="Twitter"></a>
                                <a target="_blank" class="shared gp st3" title="Google+"></a>
                                <a class="shared wa st3" data-action='share/whatsapp/share' title="WhatsApp"></a>
                                <a target="_blank" class="shared ce st3" title="Email"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Nuestro Blog Asae</h5>
                        <div class="widget-content">
                            <p>Bienvenido a nuestro blog, donde podrás ver las mejores noticias informativas con temas de interés tecnológico.</p>
                        </div>
                    </div>
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Artículos destacados</h5>
                        <div class="widget-content">
                            @Html.Raw(ViewBag.Blog_Post)
                        </div>
                    </div>
                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Mantente conectado</h5>
                        <div class="widget-content">
                            <div class="social-area d-flex justify-content-between">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-vimeo"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>





                    <!-- Widget Area -->
                    <div class="sidebar-widget-area">
                        <h5 class="title">Ultimo artículo </h5>
                        <div class="widget-content">
                            @Html.Raw(ViewBag.New_Articulo)
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- ========== Single Blog Post ========== -->
                <div class="col-12 col-md-6 col-lg-4">
                    @Html.Raw(ViewBag.Articulo1)
                </div>
                <!-- ========== Single Blog Post ========== -->
                <div class="col-12 col-md-6 col-lg-4">
                    @Html.Raw(ViewBag.Articulo2)
                </div>
                <!-- ========== Single Blog Post ========== -->
                <div class="col-12 col-md-6 col-lg-4">
                    @Html.Raw(ViewBag.Articulo3)
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="post-a-comment-area mt-70">
                    <h5>Deja tu comentario </h5>
                    <!-- Contact Form -->

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="group">
                                <input type="text" name="name" id="name" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Introduzca su nombre</label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="group">
                                <input type="email" name="email" id="email" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Introduce tu correo electrónico</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="group">
                                <textarea name="message" id="message" required></textarea>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>
                                    Ingrese su comentario
                                </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="button" class="btn world-btn" id="PublicarComentario">Publicar comentario</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-8">
                <!-- Comment Area Start -->
                <div class="comment_area clearfix mt-70">
                    @Html.Raw(ViewBag.Comentarios)
                </div>
            </div>

        </div>

    </div>
</div>

<script src="~/Assets/js/plugins/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function () {
        $('#PublicarComentario').click(function () {
            if (ValidarForm()) {
                var obj = {};

                obj['IdArticulo'] = @ViewBag.Id;
                obj['Nombre'] = $('#name').val();
                obj['Email'] = $('#email').val();
                obj['Comentarios'] = $('#message').val();


                var jsonObject = {
                    "Comentario": obj
                };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AgregarComentario", "Blog")",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: Resultado,
                    error: ErrorResult
                });

            }
        });

    });

    function Resultado(result) {

        if (result.Resultado > 0) {
            swal({
                title: "Comentario agregado . !",
                text: "Gracias por dejar tu comentario ",
                icon: "success",
                button: "Aceptar",
            })
            .then((value) => {
                location.reload();
            });
        } else {
            Mensaje(result.ResultadoText);
        }
    }

    function ErrorResult(result) {
        Mensaje("Problemas en la ejecución, intento mas tarde!");
    }

    function ValidarForm() {
        var result = false;

        if ($('#name').val().length > 0) {
            $('#name').css("border-bottom", "1px solid #f1f1f1");
        } else {
            $('#name').css("border-bottom", "1px solid #e293d3");
        }


        if ($('#email').val().length > 0) {
            $('#email').css("border-bottom", "1px solid #f1f1f1");
        } else {
            $('#email').css("border-bottom", "1px solid #e293d3");
        }

        if ($('#message').val().length > 0) {
            $('#message').css("border-bottom", "1px solid #f1f1f1");
        } else {
            $('#message').css("border-bottom", "1px solid #e293d3");
        }


        if ($('#name').val().length > 0) {
            if ($('#email').val().length > 0) {
                if ($('#message').val().length > 0) {
                    result = true;
                } else {
                    Mensaje('Coloca tu comentario. ');
                }
            } else {
                Mensaje('Coloca tu email. ');
            }
        } else {
            Mensaje('Coloca tu nombre. ');
        }
        return result;
    }


    function Post(artiuclo) {
        window.location.href = '@Url.Action("Post", "Blog")?Id=' + artiuclo;
    }

    function Categoria(categoria) {
        window.location.href = '@Url.Action("Categoria", "Blog")?Id=' + categoria;
    }

    function Mensaje(text) {
        $.notify({
            icon: 'fa fa-paw',
            message: text
        }, {
            type: 'warning',
            allow_dismiss: false,
            animate: {
                enter: 'animated rollIn',
                exit: 'animated rollOut'
            }
        });
    }


    $(document).on('click', ".shared", function () {
        var url = window.location.href;
        var title = document.title;

        url = encodeURIComponent(url);
        title = encodeURIComponent(title);

        //Boton Facebook
        if ($(this).hasClass('fb')) {
            url = 'https://www.facebook.com/sharer/sharer.php?u=' + url + '&t=' + title;

            //Boton Twitter
        } else if ($(this).hasClass('tt')) {
            user = 'asaeconsultores';//Nuestro usuario de twitter para mostrar como user
            url = 'https://twitter.com/intent/tweet?text=' + title + '&url=' + url + '&via=' + user;

            //Boyton Google Plus
        } else if ($(this).hasClass('gp')) {
            url = 'https://plus.google.com/share?url=' + url;

            //Boton WhtsApp
        } else if ($(this).hasClass('wa')) {
            url = 'https://api.whatsapp.com/send?text="' + document.title + '" - "' + window.location.href + '"';

            //Boton correo electronico
        } else if ($(this).hasClass('ce')) {
            url = 'mailto:?subject=' + title + '&body=' + url;

            //Ningun boton valido
        } else return;

        //Abrimos la url

        window.open(url.replace('+', '%2b'), '_blank');
    });

</script>
